main {
  background: #e6e7ee;
}

a {
  color: #5B6186;
}

.text-link {
  text-decoration: underline;
}

a:hover {
  color: #5B6186;
}

h1, h2 {
  font-family: 'Lora', serif;
}

h5 {
  font-family: 'Lora', serif;
  font-weight: bold;
}

#twitter-icon {
  color: black;
}

#twitter-icon:hover {
  color: #1DA1F2;
}

#mail-icon {
  color: black;
}

#mail-icon:hover {
  color: #D44638;
}

.btn-link {
  color: black;
}

.btn-link:hover {
  color: #5B6186;
}

.dropdown-menu {
  background: #e6e7ee;
}

.dropdown-item:hover {
  background-color: #B6B9CD;
  color: white;
}

.dropdown-item:focus {
  background-color: #797EA4;
}

section {
  max-width: 700px;
  margin: auto;
}

.transparent {
  background: #e6e7ee;
}

.presentation {
  min-height: 80vh;
}

.presentation-end {
  margin-bottom: 10%;
}

.navbar-brand {
  font-family: 'Lora', serif;
}

.profile {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

.profile-section {
  align-items: center;
}

.height95 {
  height: 95%;
}

.neu {
  background: #e6e7ee;
  border: 1px solid rgba(255,255,255,0.20);
  border-radius: 12px;
  box-shadow: -6px -6px 26px 0 rgba(255,255,255,0.95), 6px 6px 16px 0 rgba(182, 185, 206, 0.95) ;
}

.neu-in {
  background: #e6e7ee;
  border: 1px solid rgba(255,255,255,0.20);
  border-radius: 12px;
  box-shadow: inset -6px -6px 26px 0 rgba(255,255,255,0.95), inset 6px 6px 16px 0 rgba(182, 185, 206, 0.95) ;
}

.neu-btn {
  color: black;
}

.neu-btn-dark:hover {
  background: #343a40;
  color: white;
  box-shadow: none;
}

.row-cards {
  height: 95%;
}

/* .neu-btn:hover {
  box-shadow: inset -6px -6px 26px 0 rgba(255,255,255,0.95), inset 6px 6px 16px 0 rgba(217, 210, 200, 0.95) ;
} */

.input:focus {
  
}
