.body {
  width: 900px;
  margin: auto;
}

.presentation {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.height95 {
  height: 95%;
}
